name: TP2-Final-Check

on: [push]

jobs:
  devsecops:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          ignore: DL3018

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build, Scan and Push
        run: |
          # On définit le nom en minuscules
          LOWER_REPO=$(echo "ghcr.io/${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          
          # 1. Construction
          docker build -t $LOWER_REPO:latest .
          
          # 2. Scan de sécurité (Correction du nom de l'image)
          docker run --rm aquasec/trivy image --severity CRITICAL $LOWER_REPO:latest
          
          # 3. Envoi sur GitHub
          docker push $LOWER_REPO:latest