name: TP2-Final-Check

on: [push]

jobs:
  devsecops:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          ignore: DL3018

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Scan Image
        run: |
          # On prépare le nom en minuscules
          LOWER_REPO=$(echo "ghcr.io/${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          
          # 1. Construction de l'image
          docker build -t $LOWER_REPO:latest .
          
          # On sauvegarde le nom pour les étapes suivantes
          echo "IMAGE_NAME=$LOWER_REPO" >> $GITHUB_ENV

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_NAME }}:latest
          format: 'table'
          severity: 'CRITICAL'
          exit-code: '0' # Permet de continuer même si des failles sont trouvées

      - name: Push Image to GHCR
        run: |
          docker push ${{ env.IMAGE_NAME }}:latest