name: Build and Scan

on:
  push:
    branches: [ main ]

jobs:
  devsecops:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Analyse Statique (Lint)
      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          ignore: DL3018 # Ignore les versions de paquets APK pour simplifier

      # Login à GitHub Packages
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build de l'image locale
      - name: Build image
        run: docker build -t ghcr.io/${{ github.repository }}:latest .

      # Scan de Vulnérabilités (Trivy)
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/${{ github.repository }}:latest
          format: 'table'
          exit-code: '0' # On ne bloque pas si Trivy trouve des choses, pour voir le résultat
          severity: 'CRITICAL,HIGH'

      # Envoi final sur GitHub
      - name: Push to GHCR
        run: docker push ghcr.io/${{ github.repository }}:latest